.auth {
  min-height: 100vh;
  justify-content: center;
  padding: 20px 7%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 1000000;
  display: none;
  .auth-container {
    width: 80%;
    max-width: 48.958vw;
    background: var(--primary-white-1);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    margin: 3.208vw auto;
    .sign-in {
      display: flex;
      .left-section {
        width: 15.625vw;
        padding: 0 1.563vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-blue-3);
        border-radius: 5px 0 0 5px;

        .left-section-container {
          .logo {
            width: 3.125vw;
            height: 3.125vw;
            margin: auto;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .description {
            color: var(--primary-white-1);
            text-align: center;
            margin-top: 1.042vw;
            font-size: 0.833vw;
          }
        }
      }
      .right-section {
        padding: 2.083vw 3.636vw 2.083vw 3.636vw;
        width: 100%;
        .sign-in-body {
          margin-top: 2.188vw;
          .input-helper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1.563vw;
            flex-wrap: wrap;
            font-size: 13px;
            .input-checkbox {
              display: flex;
              align-items: center;
              input {
                width: 1vw;
                height: 1vw;
              }
              label {
                margin-left: 0.729vw;
                font-size: 0.833vw;
                color: var(--primary-grey-12);
                font-size: 0.833vw;
              }
            }
            .label {
              color: var(--primary-blue-1);
            }
          }
          .sign-in-button {
            width: 100%;
            button {
              height: 3.125vw;
              width: 100%;
              margin-top: 1.563vw;
              color: var(--primary-white-1);
              background: var(--primary-black-1);
              border: 0;
              border-radius: 1.875vw;
              min-height: 2.604vw;
              font-size: 0.833vw;
            }
          }
          .sign-in-hint {
            display: flex;
            justify-content: center;
            margin-top: 3.646vw;
            font-size: 13px;
            .label {
              color: var(--primary-grey-12);
            }
            .link {
              margin-left: 4px;
              color: var(--primary-blue-1);
              cursor: pointer;
            }
          }
        }
        .sign-in-footer {
          margin-top: 3.646vw;
          font-size: 0.729vw;
          text-align: center;
          color: var(--primary-grey-12);
          .link {
            color: var(--primary-blue-1);
            cursor: pointer;
          }
        }
      }
    }
  }
  &.show {
    display: block;
  }
}

// general css
.input-container {
  padding-right: 10px;
  .input-item {
    display: flex;
    flex-direction: column;
    min-height: 5.208vw;
    label {
      color: var(--primary-grey-12);
      font-size: 0.729vw;
    }
    input {
      border: 1px solid #c2c4c5;
      height: 2.125vw;
      border-radius: 4px;
      margin-top: 0.417vw;
      padding: 0 1.042vw;
      min-height: 2.604vw;
      font-size: 0.7vw;
      &::placeholder {
        font-size: 11px;
        color: var(--primary-grey-11);
      }
    }
    .error {
      font-size: 11px;
      color: red;
      margin-top: 4px;
      display: none;
    }
  }
  &.signup-page {
    max-height: 31.250vw;
    min-height: 31.250vw;
    overflow-y: auto;
  }
}

.auth-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .right-item {
    font-size: 1.458vw;
    color: var(--primary-grey-14);
    font-weight: 500;
  }
  .left-item {
    height: 1.667vw;
    width: 1.667vw;
    display: flex;
    img {
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
  }
}

@media (max-width: 700px) {
  .auth {
    .auth-container {
      width: 100%;
      max-width: 100%;

      .sign-in {
        flex-direction: column;
        .left-section {
          width: 100%;
          border-radius: 5px 5px 0 0;
          padding: 1.042vw;
          order: 2;
        }
        .right-section {
          padding: 20px;
        }
        .sign-in-body {
          .sign-in-button {
            button {
              border-radius: 4px !important;
              min-height: 22px !important;
              font-size: 11px !important;
              margin-top: 16px !important;
            }
          }
          .input-helper {
            font-size: 11px !important;
            margin-top: 16px !important;
            .input-checkbox {
              label {
                font-size: 11px !important;
              }
              input {
                width: 13px !important;
                height: 13px !important;
              }
            }
          }
        }
        .sign-in-footer {
          font-size: 11px !important;
        }
      }
    }
  }
  .input-container {
    &.signup-page {
      max-height: 342px !important;
      min-height:342px !important;
    }
    .input-item {
      input {
        padding: 0 16px;
      }
      label {
        font-size: 11px !important;
      }
    }
  }
  .auth-header {
    .right-item {
      font-size: 13px !important;
    }
    .left-item {
      height: 24px;
      width: 24px;
    }
  }
  .left-section {
    padding: 16px !important;
    .left-section-container {
      .logo {
        display: flex;
        height: 24px !important;
        width: 24px !important;
      }
      .description {
        font-size: 8px !important;
        margin-top: 16px !important;
      }
    }
  }
}

@media (max-width: 1100px) {
  .sign-in {
    .left-section {
    }
    .right-section {
      .sign-in-body {
        .sign-in-hint {
          font-size: 11px !important;
        }
        .input-helper {
          font-size: 11px !important;
          .input-checkbox {
            label {
              font-size: 11px !important;
            }
          }
        }
      }
      .sign-in-footer {
        font-size: 13px;
      }
    }
  }
  .auth-header {
    .right-item {
      font-size: 13px;
    }
  }
  .input-container {
    .label {
      font-size: 11px !important;
    }
    .input-item {
      margin-top: 8px;
      input {
        min-height: 30px;
        font-size: 11px !important;
        &::placeholder {
          font-size: 11px !important;
        }
      }
    }
    &.signup-page {
      max-height: 370px;
      min-height:370px;
    }
  }
}
